flows.json
[
    {
        "id": "2ed7aa20ee169bcd",
        "type": "tab",
        "label": "Home page",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d94a2df7ee70470a",
        "type": "ui_gauge",
        "z": "2ed7aa20ee169bcd",
        "name": "",
        "group": "e072c67e1049564e",
        "order": 2,
        "width": "6",
        "height": "5",
        "gtype": "donut",
        "title": "Gauge PM 10.0",
        "label": "",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1360,
        "y": 60,
        "wires": []
    },
    {
        "id": "a295d12caefaf2d1",
        "type": "ui_gauge",
        "z": "2ed7aa20ee169bcd",
        "name": "",
        "group": "e072c67e1049564e",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Gauge PM 2.5",
        "label": "",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1540,
        "y": 780,
        "wires": []
    },
    {
        "id": "6cf484c663afef6b",
        "type": "ui_switch",
        "z": "2ed7aa20ee169bcd",
        "name": "",
        "label": "Turn on/Turn off Fan",
        "tooltip": "",
        "group": "e072c67e1049564e",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "PM2.5",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1460,
        "y": 420,
        "wires": [
            [
                "901256d50af56342"
            ]
        ]
    },
    {
        "id": "f3a8a95426a4405f",
        "type": "mqtt in",
        "z": "2ed7aa20ee169bcd",
        "name": "",
        "topic": "20127470_20127566_20127611/OFA_INPUT_PM25",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c3b56dbd9b0ce293",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1170,
        "y": 700,
        "wires": [
            [
                "a295d12caefaf2d1",
                "76a9ba7ab65a8ef6",
                "81348e26bf2ed355"
            ]
        ]
    },
    {
        "id": "901256d50af56342",
        "type": "mqtt out",
        "z": "2ed7aa20ee169bcd",
        "name": "",
        "topic": "20127470_20127566_20127611/OFA_OUTPUT_FAN",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3b56dbd9b0ce293",
        "x": 1840,
        "y": 420,
        "wires": []
    },
    {
        "id": "218327f76bc29606",
        "type": "mqtt in",
        "z": "2ed7aa20ee169bcd",
        "name": "",
        "topic": "20127470_20127566_20127611/OFA_INPUT_PM10",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c3b56dbd9b0ce293",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1010,
        "y": 160,
        "wires": [
            [
                "d94a2df7ee70470a",
                "dcc3706bc8179c85",
                "3a4d45d513f05d64"
            ]
        ]
    },
    {
        "id": "5e0d4e5ed45e76ef",
        "type": "mqtt in",
        "z": "2ed7aa20ee169bcd",
        "name": "",
        "topic": "20127470_20127566_20127611/OFA_INPUT_FAN",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c3b56dbd9b0ce293",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1030,
        "y": 420,
        "wires": [
            [
                "6cf484c663afef6b"
            ]
        ]
    },
    {
        "id": "dcc3706bc8179c85",
        "type": "http request",
        "z": "2ed7aa20ee169bcd",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.thingspeak.com/update?api_key=GBJ9VMTWPYU40G1N&field1={{payload}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1350,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "3a4d45d513f05d64",
        "type": "debug",
        "z": "2ed7aa20ee169bcd",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1340,
        "y": 200,
        "wires": []
    },
    {
        "id": "76a9ba7ab65a8ef6",
        "type": "http request",
        "z": "2ed7aa20ee169bcd",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.thingspeak.com/update?api_key=GBJ9VMTWPYU40G1N&field2={{payload}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1550,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "e08d37243d748158",
        "type": "http request",
        "z": "2ed7aa20ee169bcd",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.thingspeak.com/channels/1992817/feeds.json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1310,
        "y": 940,
        "wires": [
            [
                "ce6c899153c04ece"
            ]
        ]
    },
    {
        "id": "b851bfe8a687deca",
        "type": "inject",
        "z": "2ed7aa20ee169bcd",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 1010,
        "y": 940,
        "wires": [
            [
                "e08d37243d748158"
            ]
        ]
    },
    {
        "id": "ce6c899153c04ece",
        "type": "json",
        "z": "2ed7aa20ee169bcd",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1550,
        "y": 940,
        "wires": [
            [
                "4970b1c03bacdf52"
            ]
        ]
    },
    {
        "id": "81348e26bf2ed355",
        "type": "debug",
        "z": "2ed7aa20ee169bcd",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1560,
        "y": 680,
        "wires": []
    },
    {
        "id": "75dca14b2ef35cb3",
        "type": "ui_template",
        "z": "2ed7aa20ee169bcd",
        "group": "e072c67e1049564e",
        "name": "",
        "order": 5,
        "width": 0,
        "height": 0,
        "format": "<h1>History</h1>\n<ul style=\"height: 1000px\">\n    <li ng-repeat=\"item in msg.history\">\n        <font color=\"red\">{{item.topic}}</font>\n        <p>{{item.value}}</p>\n        <p>{{item.time}}</p>\n    </li>\n</ul>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 2000,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "4970b1c03bacdf52",
        "type": "function",
        "z": "2ed7aa20ee169bcd",
        "name": "History Function",
        "func": "const feeds = msg.payload.feeds;\nconst length = feeds.length || 0\nconst pm10Value = feeds.filter(item => item.field1 !== null).reverse()[1];\nconst pm2_5Value = feeds.filter(item => item.field2 !== null).reverse()[1];\nmsg.history = [\n    {\n        topic: 'PM 2.5',\n        value: pm2_5Value.field2 || 0,\n        time: new Date(pm2_5Value.created_at).toDateString(),\n    },\n    {\n        topic: 'PM 10',\n        value: pm10Value.field1 || 0,\n        time: new Date(pm10Value.created_at).toDateString(),\n    }\n]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1800,
        "y": 940,
        "wires": [
            [
                "75dca14b2ef35cb3"
            ]
        ]
    },
    {
        "id": "e072c67e1049564e",
        "type": "ui_group",
        "name": "Home",
        "tab": "d9365e0f.e1bf6",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c3b56dbd9b0ce293",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.mqtt-dashboard.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d9365e0f.e1bf6",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "home",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]